@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

body{
  position: relative;
}

div{
  border: 2px solid black;
  margin: 40% 1% 1% 1%;
  width: 80%;
  display: inline-flex;
  padding: 10px;
  border-radius: 1em;
  box-shadow:0px 0px 20px 1px black;
  position: relative;
}

p{
  padding-left:12px ;
  font-size: 18px;
  font-family: "Charm", sans-serif;
}
#playPause{
  position: absolute;
  top: 70%;
  left: 50%;
  margin-top: 10px;
  width: 60px;
  transform: translateX( -50%);
  cursor: pointer;
  
}

#playPause > svg{
  margin: auto;
  position: absolute;
  width: 60px;
  height: 60px;
}

img{
  padding-top: 25px;
  
}

footer{
  margin-top: 45%;
  text-align: center;
 
  top: 40%;
}