@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

body{
  position: relative;
}

div{
  border: 2px solid black;
  margin: 40% 8% 1% 8%;
  
  display: inline-flex;
  padding: 10px;
  border-radius: 1em;
  box-shadow:0px 0px 20px 1px black;
 
}

p{
  padding-left:12px ;
  font-size: 18px;
  font-family: "Charm", sans-serif;
}
#playPause{
  position: absolute;
  top: 70%;
  left: 41%;
  margin-top: 35px;
  margin-left: ;
  width: 55px;
  height: 55px;
  transform: translateX( -50%);
  cursor: pointer;
  padding: 6px;
  
}

#imagemPausar{
  display: none;
}

#playPause > svg{
  margin: auto;
  position: absolute;
  width: 60px;
  height: 60px;
}

img{
  padding-top: 25px;
  
}

footer{
  margin-top: 45%;
  text-align: center;
 
  top: 40%;
}